<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, width=device-width">
        <title>Youtube hitparade</title>    
    </head>

    <body>
        <h1>Youtube hitparade</h1>
        <p>Welcome to Youtube hitparade app, where you can view three most viewed videos that were published in a particular year.</p>
        <form>
            <input name="year" list="years" placeholder="Year">
            <datalist id="years">
                <option value="2006">
                <option value="2007">
                <option value="2008">
                <option value="2009">
                <option value="2010">
                <option value="2011">
                <option value="2012">
                <option value="2013">
                <option value="2014">
                <option value="2015">
                <option value="2016">
                <option value="2017">
                <option value="2018">
                <option value="2019">
                <option value="2020">
                <option value="2021">
            </datalist>
            <input name="genre" list="genres" placeholder="Genre">
            <datalist id="genres">
                <option value="2006"></option>
                <option value="2007">
                <option value="2008">
                <option value="2009">
                <option value="2010">
                <option value="2011">
                <option value="2012">
                <option value="2013">
                <option value="2014">
                <option value="2015">
                <option value="2016">
                <option value="2017">
                <option value="2018">
                <option value="2019">
                <option value="2020">
                <option value="2021">
            </datalist>
        </form>
    </body>
</html>