{% extends "auctions/layout.html" %}

{% block body %}
    <h2>{{ categoryName }} category Listings</h2>

    {% for listing in listings %}
        
            <div class="listing description">
                <div class="description-text">
                    <a href="{% url 'listing' listing.id %}"><h3>{{ listing.title }}</h3></a>
                    <p>Description: {{ listing.description }}</p>
                    {% if listing.listingBids.all %}
                        <p class="current-price">Current price: $ {{ listing.listingBids.last.price }}</p>
                    {% else %}
                        <p class="current-price">Current price: $ {{ listing.startingBid }}</p>
                    {% endif %}    
                </div>
                <div class="listing-image">
                    {% if listing.imageURL %}
                        <img src="{{ listing.imageURL }}" alt="listing image">
                    {% endif %}
                </div>
            </div>     
    {% endfor %}
{% endblock %}