{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Create new listing</h2>
    <form class="new-listing" action="{% url 'new-listing' %}" method="post">
        {% csrf_token %}
        <input type="text", name="title", placeholder="Title">
        <textarea name="description", placeholder="Enter description", rows="5", cols="50" maxlength="300"></textarea>
        <input type="url", name="imageURL", placeholder="Image URL", maxlength="300">
        <input type="number", name="startingBid", placeholder="Starting bid", step="0.01", min="0.01">
        <select name="category">
            <option value="select category" disabled selected>Select category</option>
            {% for category in categories %}
                <option value="{{ category.id }}">{{ category }}</option>
            {% endfor %}
        </select>
        <input type="submit", value="Submit">
    </form>

{% endblock %}
